.order-book {
  height: 320px;
  background: white;
}

th, td {
  font-size: 15px;
  color: black !important;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.bold-cell {
  font-weight: bold;
}
