<!--<div class="col-md-12">-->
<!--  <plotly-plot [data]="graph.data" [layout]="graph.layout" [useResizeHandler]="true"></plotly-plot>-->
<!--</div>-->
<div class="order-book mt-3 px-3 py-2 round-border">
  <table class="full-width normal-font">
    <tbody>
    <tr>
      <td class="align-left bold-cell">{{strings.walletBalance}}</td>
      <td class="align-right">{{walletBalance2}} XBT</td>
    </tr>
    <tr>
      <td class="align-left bold-cell">{{strings.unrealizedPNL}}</td>
      <td class="align-right">{{unrealizedPNL2}} XBT</td>
    </tr>
    <tr>
      <td class="align-left bold-cell">{{strings.marginBalance}}</td>
      <td class="align-right">{{marginBalance2}} XBT</td>
    </tr>
    <tr>
      <td class="align-left bold-cell">{{strings.positionMargin}}</td>
      <td class="align-right">{{positionMargin2}} XBT</td>
    </tr>
    <tr>
      <td class="align-left bold-cell">{{strings.orderMargin}}</td>
      <td class="align-right">{{orderMargin2}} XBT</td>
    </tr>
    <tr>
      <td class="align-left bold-cell">{{strings.availableBalance}}</td>
      <td class="align-right">{{availableBalance2}} XBT</td>
    </tr>
    </tbody>
  </table>
</div>
