<div class="p-3 row">

</div>

<!--<div class="p-v-lg text-center">-->
<!--  &lt;!&ndash;<div class="m-b"><a ui-sref="access.forgot-password" href="forgot-password.html"&ndash;&gt;-->
<!--  &lt;!&ndash;class="text-primary _600">{{strings.forgotPassword}}</a></div>&ndash;&gt;-->
<!--  <div>{{strings.doNotHaveAnAccount}} <a routerLink="/auth/sign-up" routerLinkActive="active"-->
<!--                                         class="text-primary _600">{{strings.signUp}}</a>-->
<!--  </div>-->
<!--</div>-->
