<div class="screen-breakpoint mx-auto">
  <form [formGroup]="mainForm">
    <div class="row">
      <input id="id" type="hidden" class="form-control grey-text" formControlName="id" mdbInput>
      <div class="col-md-6">
        <div class="md-form mt-0">
          <input type="text" id="name" class="form-control" formControlName="name" mdbInput mdbValidate
                 [validateSuccess]="false">
          <label for="name">{{strings.name}}</label>
          <mdb-error *ngIf="mF.name.invalid && (mF.name.dirty || mF.name.touched)">{{strings.thisFieldIsRequired}}</mdb-error>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 mt-2">
            {{strings.botLogicBasedOn}}
          </div>
          <div class="col-md-8">
            <div class="btn-group full-width">
              <label mdbBtn color="primary" formControlName="botLogic" mdbRadio="signal" mdbWavesEffect class="gray-title">
                {{strings.signal}}
              </label>
              <label mdbBtn color="primary" formControlName="botLogic" mdbRadio="custom" mdbWavesEffect class="gray-title">
                {{strings.custom}}
              </label>
            </div>
            <mdb-error *ngIf="mF.botLogic.invalid" class="my-error">{{strings.thisFieldIsRequired}}</mdb-error>
          </div>
        </div>
      </div>
<!--      <div *ngIf="mF.botLogic.value === 'signal'" class="col-md-6">-->
<!--        <div class="row">-->
<!--          <div class="col-md-7 mt-2">-->
<!--            {{strings.closeOnTrigger}}-->
<!--          </div>-->
<!--          <div class="col-md-5">-->
<!--            <div class="md-form mt-0">-->
<!--              <mdb-checkbox formControlName="closeOnTrigger"></mdb-checkbox>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div *ngIf="mF.botLogic.value === 'custom'" class="col-md-6">-->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 mt-2">
                {{strings.leverage}}
              </div>
              <div class="col-md-6">
                <div class="md-form mt-0">
                  <input type="number" class="form-control" formControlName="leverage" mdbInput mdbValidate
                         [validateSuccess]="false">
                  <mdb-error *ngIf="mF.leverage.errors && mF.leverage.errors.required && (mF.leverage.dirty || mF.leverage.touched)">{{strings.thisFieldIsRequired}}</mdb-error>
                  <mdb-error *ngIf="mF.leverage.errors && mF.leverage.errors.min && (mF.leverage.dirty || mF.leverage.touched)">{{strings.min}} 0</mdb-error>
                  <mdb-error *ngIf="mF.leverage.errors && mF.leverage.errors.max && (mF.leverage.dirty || mF.leverage.touched)">{{strings.max}} 100</mdb-error>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7 mt-2">
                {{strings.closeOnTrigger}}
              </div>
              <div class="col-md-5">
                <div class="md-form mt-0">
                  <mdb-checkbox formControlName="closeOnTrigger"></mdb-checkbox>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-6">
      <fieldset *ngIf="mF.botLogic.value === 'signal'">
        <legend class="my-group-title">{{strings.orderDetails}}</legend>
          <div class="row">
            <div class="col-md-4 mt-2">
              {{strings.quantity}}
            </div>
            <form [formGroup]="orderForm" class="col-md-8">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">USD</div>
                </div>
                <input type="number" class="form-control py-0 dark-back-ground" formControlName="quantity" mdbInput mdbValidate>
              </div>
              <mdb-error *ngIf="oF.quantity.errors && oF.quantity.errors.required && (oF.quantity.dirty || oF.quantity.touched)">{{strings.thisFieldIsRequired}}</mdb-error>
              <mdb-error *ngIf="oF.quantity.errors && oF.quantity.errors.min && (oF.quantity.dirty || oF.quantity.touched)">{{strings.min}} 0</mdb-error>
              <mdb-error *ngIf="oF.quantity.errors && oF.quantity.errors.max && (oF.quantity.dirty || oF.quantity.touched)">{{strings.max}} 100</mdb-error>
            </form>
          </div>
      </fieldset>
    </div>
    <div class="col-md-6">

    </div>
  </div>
  <div *ngIf="mF.botLogic.value === 'custom'" class="row">
    <div class="col-md-6">
      <form [formGroup]="orderForm">
        <fieldset>
          <legend class="my-group-title">{{strings.placeOrder}}</legend>
          <div class="row">
            <div class="col-md-4 mt-2">
              {{strings.orderType}}
            </div>
            <div class="col-md-8">
              <div class="btn-group full-width">
                <label mdbBtn color="primary" formControlName="orderType" mdbRadio="Limit" mdbWavesEffect class="gray-title">
                  {{strings.limit}}
                </label>
                <label mdbBtn color="primary" formControlName="orderType" mdbRadio="Market" mdbWavesEffect class="gray-title">
                  {{strings.market}}
                </label>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4 mt-2">
              {{strings.quantity}}
            </div>
            <div class="col-md-8">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">USD</div>
                </div>
                <input type="number" class="form-control py-0 dark-back-ground" formControlName="quantity" mdbInput mdbValidate>
              </div>
              <mdb-error *ngIf="oF.quantity.errors && oF.quantity.errors.required && (oF.quantity.dirty || oF.quantity.touched)">{{strings.thisFieldIsRequired}}</mdb-error>
              <mdb-error *ngIf="oF.quantity.errors && oF.quantity.errors.min && (oF.quantity.dirty || oF.quantity.touched)">{{strings.min}} 0</mdb-error>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4 mt-2">
              {{strings.limitPrice}}
            </div>
            <div class="col-md-8">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">USD</div>
                </div>
                <input type="number" class="form-control py-0 dark-back-ground" formControlName="limitPrice" mdbInput mdbValidate>
              </div>
              <mdb-error *ngIf="oF.limitPrice.errors && oF.limitPrice.errors.required && (oF.limitPrice.dirty || oF.limitPrice.touched)">{{strings.thisFieldIsRequired}}</mdb-error>
              <mdb-error *ngIf="oF.limitPrice.errors && oF.limitPrice.errors.min && (oF.limitPrice.dirty || oF.limitPrice.touched)">{{strings.min}} 0</mdb-error>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6 text-align-right">
              <button type="button" mdbBtn mdbWavesEffect class="waves-light growing-background"
                      [disabled]="orderForm.invalid || loading">{{strings.buyLong}}
              </button>
            </div>
            <div class="col-md-6">
              <button type="button" mdbBtn mdbWavesEffect class="waves-light falling-background"
                      [disabled]="orderForm.invalid || loading">{{strings.sellShort}}
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-6">
      <form [formGroup]="stopForm">
        <fieldset>
          <legend class="my-group-title">{{strings.placeOrder}}</legend>
          <div class="row mt-3">
            <div class="col-md-4 mt-2">
              {{strings.quantity}}
            </div>
            <div class="col-md-8">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">USD</div>
                </div>
                <input type="number" class="form-control py-0 dark-back-ground" formControlName="quantity2" mdbInput mdbValidate>
              </div>
              <mdb-error *ngIf="sF.quantity2.errors && sF.quantity2.errors.required && (sF.quantity2.dirty || sF.quantity2.touched)">{{strings.thisFieldIsRequired}}</mdb-error>
              <mdb-error *ngIf="sF.quantity2.errors && sF.quantity2.errors.min && (sF.quantity2.dirty || sF.quantity2.touched)">{{strings.min}} 0</mdb-error>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4 mt-2">
              {{strings.stopPrice}}
            </div>
            <div class="col-md-8">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">USD</div>
                </div>
                <input type="number" class="form-control py-0 dark-back-ground" formControlName="triggerPrice" mdbInput mdbValidate>
              </div>
              <mdb-error *ngIf="sF.triggerPrice.errors && sF.triggerPrice.errors.required && (sF.triggerPrice.dirty || sF.triggerPrice.touched)">{{strings.thisFieldIsRequired}}</mdb-error>
              <mdb-error *ngIf="sF.triggerPrice.errors && sF.triggerPrice.errors.min && (sF.triggerPrice.dirty || sF.triggerPrice.touched)">{{strings.min}} 0</mdb-error>
            </div>
          </div>
          <div class="row mt-lg-5">
            <div class="col-md-12 text-align-center mb-lg-3">
              <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
                      [disabled]="stopForm.invalid || loading">{{strings.add}}
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <fieldset *ngIf="mF.botLogic.value === 'custom'">
    <legend class="my-group-title">{{strings.orderDetails}}</legend>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table mdbTable stickyHeader="true" stickyHeaderBgColor="#3c3c3c" hover="true" striped="true" class="z-depth-1">
            <thead class="sticky-top">
            <tr>
              <th *ngFor="let head of orderHeads; let i = index" [mdbTableSort]="orders" [sortBy]="orderHeads[i]"
                  scope="col">{{head}} <mdb-icon fas icon="sort"></mdb-icon>
              </th>
              <th scope="col" class="edit-col"></th>
            </tr>
            </thead>
            <tbody #row>
            <tr mdbTableCol *ngFor="let el of orders; let i = index">
              <td>{{el.size}}</td>
              <td>{{el.value}} XBT</td>
              <td>{{el.entryPrice}}</td>
              <td>{{el.markPrice}}</td>
              <td>{{el.liqPrice}}</td>
              <td>{{el.margin}} XBT (Cross)</td>
<!--              <td *ngIf="i+1 >= ordersPagination.firstItemIndex && i < ordersPagination.lastItemIndex">{{el.size}}</td>-->
<!--              <td *ngIf="i+1 >= ordersPagination.firstItemIndex && i < ordersPagination.lastItemIndex">{{el.value}} XBT</td>-->
<!--              <td *ngIf="i+1 >= ordersPagination.firstItemIndex && i < ordersPagination.lastItemIndex">{{el.entryPrice}}</td>-->
<!--              <td *ngIf="i+1 >= ordersPagination.firstItemIndex && i < ordersPagination.lastItemIndex">{{el.markPrice}}</td>-->
<!--              <td *ngIf="i+1 >= ordersPagination.firstItemIndex && i < ordersPagination.lastItemIndex">{{el.liqPrice}}</td>-->
<!--              <td *ngIf="i+1 >= ordersPagination.firstItemIndex && i < ordersPagination.lastItemIndex">{{el.margin}} XBT (Cross)</td>-->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <fieldset>
          <legend class="my-group-title">{{strings.closeOrderDetails}}</legend>
            <div class="table-responsive">
              <table mdbTable #stopsTableEl="mdbTable" stickyHeader="true" stickyHeaderBgColor="#3c3c3c" hover="true" striped="true" class="z-depth-1">
                <thead class="sticky-top">
                <tr>
                  <th *ngFor="let head of stopHeads; let i = index" [mdbTableSort]="stops" [sortBy]="stopHeads[i]"
                      scope="col">{{head}} <mdb-icon fas icon="sort"></mdb-icon>
                  </th>
                  <th scope="col" class="edit-col"></th>
                </tr>
                </thead>
                <tbody #row>
                <tr mdbTableCol *ngFor="let el of stops; let i = index">
                  <td>{{el.qty}}</td>
                  <td>{{el.orderPrice}} XBT</td>
                  <td>{{el.filled}}</td>
                  <td>{{el.stopPrice}}</td>
                  <td>{{el.triggeringPrice}}</td>
                  <td class="edit-col">
                    <a mdbBtn floating="true" rounded="true" color="danger" size="sm" mdbWavesEffect (click)="removeStopItem(el)"><mdb-icon fas icon="trash"></mdb-icon></a>
                  </td>
<!--                  <td *ngIf="i+1 >= stopsPagination.firstItemIndex && i < stopsPagination.lastItemIndex">{{el.qty}}</td>-->
<!--                  <td *ngIf="i+1 >= stopsPagination.firstItemIndex && i < stopsPagination.lastItemIndex">{{el.orderPrice}} XBT</td>-->
<!--                  <td *ngIf="i+1 >= stopsPagination.firstItemIndex && i < stopsPagination.lastItemIndex">{{el.filled}}</td>-->
<!--                  <td *ngIf="i+1 >= stopsPagination.firstItemIndex && i < stopsPagination.lastItemIndex">{{el.stopPrice}}</td>-->
<!--                  <td *ngIf="i+1 >= stopsPagination.firstItemIndex && i < stopsPagination.lastItemIndex">{{el.triggeringPrice}}</td>-->
<!--                  <td *ngIf="i+1 >= stopsPagination.firstItemIndex && i < stopsPagination.lastItemIndex" class="edit-col">-->
<!--                    <a mdbBtn floating="true" rounded="true" color="danger" size="sm" mdbWavesEffect (click)="removeStopItem(el)"><mdb-icon fas icon="trash"></mdb-icon></a>-->
<!--                  </td>-->
                </tr>
                </tbody>
<!--                <tfoot class="">-->
<!--                <tr>-->
<!--                  <td colspan="6">-->
<!--                    <mdb-table-pagination [tableEl]="stopsTableEl" paginationAlign="" [searchDataSource]="orders"></mdb-table-pagination>-->
<!--                  </td>-->
<!--                </tr>-->
<!--                </tfoot>-->
              </table>
            </div>
        </fieldset>
      </div>
    </div>
  </fieldset>
  <div *ngIf="alert.show" class="alert alert-dismissible fade show mt-3" [ngClass]="alert.type" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    {{alert.message}}
  </div>
  <div class="button-spec mt-3">
    <button type="button" mdbBtn color="warning" class="waves-light" aria-label="Close"
            mdbWavesEffect (click)="goBack()" [disabled]="loading">{{strings.back}}
    </button>
    <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            [disabled]="mainForm.invalid || loading" (click)="submit()">{{strings.save}}
    </button>
  </div>
</div>
