<div class="p-3 row">
  <div class="col-md-4 col-xs-6 text-align-center">
    <a mdbBtn color="primary" mdbWavesEffect class="full-width" routerLink="/app/new-apikey">
      <mdb-icon fas icon="plus" class="mr-1"></mdb-icon>
      {{strings.newApiKey}}
    </a>
  </div>
  <div class="col-md-4 col-xs-6 text-align-center">
    <button type="submit" mdbBtn color="success" mdbWavesEffect [disabled]="loading" class="full-width">
      <mdb-icon fas icon="robot" class="mr-1"></mdb-icon>
      {{strings.createBot}}
    </button>
  </div>
  <div class="col-md-4 col-xs-6 text-align-center">
    <button type="submit" mdbBtn color="info" mdbWavesEffect [disabled]="loading" class="full-width">
      <mdb-icon fas icon="play" class="mr-1"></mdb-icon>
      {{strings.startBot}}
    </button>
  </div>
  <div class="col-md-4 col-xs-6 text-align-center">
    <button type="submit" mdbBtn color="secondary" mdbWavesEffect [disabled]="loading" class="full-width">
      <mdb-icon fas icon="edit" class="mr-1"></mdb-icon>
      {{strings.editBot}}
    </button>
  </div>
  <div class="col-md-4 col-xs-6 text-align-center">
    <button type="submit" mdbBtn color="danger" mdbWavesEffect [disabled]="loading" class="full-width">
      <mdb-icon fas icon="trash" class="mr-1"></mdb-icon>
      {{strings.deleteBot}}
    </button>
  </div>
  <div class="col-md-4 col-xs-6 text-align-center">
    <button type="submit" mdbBtn color="warning" mdbWavesEffect [disabled]="loading" class="full-width">
      <mdb-icon fas icon="stop" class="mr-1"></mdb-icon>
      {{strings.stopBot}}
    </button>
  </div>
</div>
<div class="p-3 row">
  <div class="col-md-4 col-xs-6 h5 text-align-center">
    Current Bot: <span class="property-value" [ngClass]="'blue'">Fake Bot</span>
  </div>
  <div class="col-md-4 col-xs-6 h5 text-align-center">Status: <span class="property-value" [ngClass]="'blue'">Running</span></div>
  <div class="col-md-4 col-xs-6 h5 text-align-center">Available Balance: <span class="property-value" [ngClass]="'blue'">0.6XBT</span></div>
</div>

<!--<div class="p-v-lg text-center">-->
<!--  &lt;!&ndash;<div class="m-b"><a ui-sref="access.forgot-password" href="forgot-password.html"&ndash;&gt;-->
<!--  &lt;!&ndash;class="text-primary _600">{{strings.forgotPassword}}</a></div>&ndash;&gt;-->
<!--  <div>{{strings.doNotHaveAnAccount}} <a routerLink="/auth/sign-up" routerLinkActive="active"-->
<!--                                         class="text-primary _600">{{strings.signUp}}</a>-->
<!--  </div>-->
<!--</div>-->
