<!--<div class="col-md-12">-->
<!--  <plotly-plot [data]="graph.data" [layout]="graph.layout" [useResizeHandler]="true"></plotly-plot>-->
<!--</div>-->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_f211b"></div>
<!--  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BITMEX-XBTUSD/" rel="noopener" target="_blank"><span class="blue-text">XBTUSD Chart</span></a> by TradingView</div>-->
<!--  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>-->
<!--  <script type="text/javascript">-->
<!--    new TradingView.widget(-->
<!--      {-->
<!--        "width": 980,-->
<!--        "height": 610,-->
<!--        "symbol": "BITMEX:XBTUSD",-->
<!--        "interval": "D",-->
<!--        "timezone": "Etc/UTC",-->
<!--        "theme": "Dark",-->
<!--        "style": "1",-->
<!--        "locale": "en",-->
<!--        "toolbar_bg": "#f1f3f6",-->
<!--        "enable_publishing": false,-->
<!--        "hide_legend": true,-->
<!--        "container_id": "tradingview_f211b"-->
<!--      }-->
<!--    );-->
<!--  </script>-->
</div>
<!-- TradingView Widget END -->
